html
  min-height 100%

body
  color $colorDark
  font-family 'Montserrat', sans-serif
  font-weight 700
  text-rendering optimizelegibility
  -webkit-font-smoothing antialiased
  padding-bottom 250px

  @media(max-width 500px)
    padding-bottom 150px

p
  margin 0

a,
a:focus,
a:hover
  text-decoration none
  outline none

::selection
  color $colorPink
  background $colorBlue

.row:after
  content " "
  display table
  clear both
