/**
 * Basic app styles.
 */


html
  min-height 100%


body
  color @colorDark
  font-family 'Montserrat', sans-serif
  font-weight 700
  text-rendering optimizelegibility
  -webkit-font-smoothing antialiased

p
  margin 0

a
  text-decoration none

::selection
  color @colorPink
  background @colorBlue

.row:after
  content " "
  display table
  clear both
