extends ../layout

block content
  div#intro.intro
    div#intro__box.intro__box
      h1.intro__heading(data-text='WEBtlak*') WEBtlak*
      h2.intro__subheading * Dizajn / Technológie / Budúcnosť
      p.intro__version #2
      img.intro__logo(src='/build/img/logo@2x.png')

      p.intro__date 3.2.2016 — 19:00
      p.intro__place Záhrada CNK, Banská Bystrica
      a.intro__fb(href='#{FB_EVENT_URL}' target='_blank') facbook.com/webtlak

    div.intro__speakers
      a.intro__speaker.left(href='#{FB_EVENT_URL}' target='_blank' data-parallax='{"y": -150, "smoothness": 10}')
        span.intro__speaker-title Ako použiť React.js
        span.intro__speaker-name Andrej Gajdoš

      a.intro__speaker.right(href='#{FB_EVENT_URL}' target='_blank' data-parallax='{"y": -200,  "smoothness": 10}')
        span.intro__speaker-title Single Sign On
        span.intro__speaker-name Michal Vagač

      a.intro__speaker.left(href='#{FB_EVENT_URL}' target='_blank' data-parallax='{"y": -250, "smoothness": 10}')
        span.intro__speaker-title PREtlak
        span.intro__speaker-name Tomáš Pinka


  div.about
    p.about__text.
      WEBtlak je mladé pravidelné stretnutie  nadšencov o moderné technológie a dizajn v Banskej Bystrici. Stoja za ním <a href='http://slinto.sk' target='_blank'>Tomáš S.</a> - Front-end developer a <a href='http://tomaspinka.com' target='_blank'>Tomáš P.</a> - Designer. Spoločne s Vami, <a href='http://www.fpv.umb.sk/katedry/katedra-informatiky/' target='_blank'>Katedrou Informatiky</a> <a href='http://www.fpv.umb.sk/katedry/katedra-informatiky/' target='_blank'>UMB</a> chceme posúvať hranice digitálneho priestoru, kde trávime denno-denne veľa času. Rozprávme slovensky, pijeme kávu a žijeme aj offline životom. Budeme radi ak prídete povedať alebo si vypočuť aj vy niečo o zaujímavej téme a posunúť tlak vyššie. Ak máte otázku, alebo nás chcete hajpnúť tak <a href='mailto:pre@webtlak.sk'>pre@webtlak.sk</a>
      <br/><br/>
      <a href='http://eepurl.com/bCWFvb' target='_blank' class='about__newsletter'>—Dostávaj tlak pravidelne do mailu</a>

  div.archive__wrapper
    div.archive
      div.row

        //- div.archive__item(data-parallax='{"y": -200, "smoothness": 10}')
          p.archive__item-number #1
          span.archive__item-limiter
          p.archive__item-date 3.2.2016 — 19:00
          p.archive__item-place Záhrada CNK, Banská Bystrica

          div.archive__item-speaker
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Workflow
            span.archive__item-speaker-name Tomáš Pinka & Tomáš Stankovič

          a.archive__item-speaker.video(href='#')
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Workflow je síce krátky názov, ale čo ak bude dlhší
            span.archive__item-speaker-name Meno Priezvisko

        div.archive__item(data-parallax='{"y": -150, "smoothness": 10}')
          p.archive__item-number #1
          span.archive__item-limiter
          p.archive__item-date 3.12.2015
          p.archive__item-place Záhrada CNK, Banská Bystrica

          div.archive__item-speaker(title='No, nenahrali sme to')
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Workflow
            span.archive__item-speaker-name Tomáš Pinka & Tomáš Stankovič

