extends ../layout

block content
  div#intro.intro
    div#intro__box.intro__box
      h1.intro__heading(data-text='WEBtlak*') WEBtlak*
      h2.intro__subheading * Dizajn / Technológie / Budúcnosť
      p.intro__version #2
      img.intro__logo(src="/build/img/logo@2x.png")

      p.intro__date 3.2.2016 — 19:00
      p.intro__place Záhrada CNK, Banská Bystrica
      a.intro__fb(href="http://www.facebook.com/events/544943585670939/" target="_blank") facbook.com/webtlak

  div.about
    p.about__text.
      WEBtlak je mladé pravidelné stretnutie  nadšencov o moderné technológie a dizajn v Banskej Bystrici. Stoja za ním <a href="http://slinto.sk" target="_blank">Tomáš S.</a> - Front-end developer a <a href="http://tomaspinka.com" target="_blank">Tomáš P.</a> - Designer. Spoločne s Vami a <a href="http://www.fpv.umb.sk/katedry/katedra-informatiky/" target="_blank">Katedrou Informatiky</a> <a href="http://www.fpv.umb.sk/katedry/katedra-informatiky/" target="_blank">UMB</a> chceme posúvať hranice digitálneho priestoru, kde trávime denno-denne veľa času. Rozprávme slovensky, pijeme kávu a žijeme aj offline životom. Budeme radi ak prídete povedať alebo si vypočuť aj vy niečo o zaujímavej téme a posunúť tlak vyššie. Ak máte otázku, alebo nás chcete hajpnúť tak <a href="mailto:pre@webtlak.sk">pre@webtlak.sk</a>
      <br/><br/>
      <a href="http://eepurl.com/bCWFvb" target="_blank" class="about__newsletter">—Dostávaj tlak pravidelne do mailu</a>
